{% extends "base.html" %}
{% block title %}Lista{% endblock %}

{% block content %}
<main>
  
  <!--Sección de filtros -->
  <section class="filter-container">
    {% block filtros %}
    <!-- aquí meterás inputs, selects, botones -->
    {% endblock %}
  </section>

  <!--Sección de contenido dinámico (tablas, tarjetas, etc.) -->
  <div class="table-container">
    <table class="table">
      <thead>
        {% block tabla_head %}{% endblock %}
      </thead>
      <tbody>
        {% block tabla_body %}{% endblock %}
      </tbody>
    </table>
  </div>

  <!--Bloque opcional para cosas debajo de la tabla -->
  {% block extra_content %}{% endblock %}
  
</main>
{% endblock %}
